extends layout

block content
  section#main
    img(src="/images/ipl.png", alt="ign.com/ipl - IGN Pro league site")
    p.
      I'm currently working at IGN.com and spend most of my time designing and devloping the IGN Pro League site. 
      It was initially built using Ruby on Rails, SASS, JS and HAML. I'm currently in the process of transitioning it to Sinatra from 
      Rails and rewriting some of the JS in CoffeeScript.
  section#showcase
  section#skills
  section#about
  section#contact